<div class="row">
  <div class="col-sm-4 col-sm-offset-4">
    <form action="/todo/new" method="post">
      <legend>New Todo</legend>
      <div class="form-group">
        <label for="post-title">Title</label>
        <input type="text" name="title" class="form-control" id="todo-title" placeholder="Name Your Todo">
      </div>
      <div class="form-group">
        <label for="post-summary">Summary</label>
        <textarea name="summary" class="form-control" id="todo-summary" placeholder="Describe Todo"></textarea>
      </div>
      <div class='text-right'>
        <button type="submit" class="btn btn-primary">Create Todo</button>
      </div>
    </form>
  </div>
</div>